body {
  background: #d1cdcd;
}

.nav-bar {
  background-color: #2b2c36;
}

.nav-bar-text {
  color: white;
}

#nav-search-bar {
  width: 290px;
  border-radius: 20px;
}

/* .div-pills-tab {
  color: white;
} */

.home-bg {
  background-color: black;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.home-bg-image {
  /* The image used */
  background-image: url("images/context-switching.png");
  
  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgba(253, 152, 0, 0.959);
  border-radius: 50%;
  display: inline-block;
}

.collapsible-contents-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.contents-button {
  border-radius: 10px;
}

.contents-button:hover {
  background-color: rgb(50, 201, 247);
  border-color: rgb(50, 201, 247);
  color: white;
}

#collapse {
  background-color: #f0ede6;
  margin-bottom: 1em;
  max-height: 25em;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 2px 2px 3px;
  word-wrap: break-word;
}

.information {
  background-color: white;
  padding: 5% 8% 5% 8%;
  margin-left: 5%; 
  margin-right: 5%;
  margin-bottom: 10%; 
}

/* #find-button {
  border-radius: 30px;
} */

h1 {
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
}

h4 {
  color: grey;
  margin-bottom: 7%;
  text-align: center;
}

.about-hr {
  background-color: white;
}

.how-to-read {
   white-space: pre-wrap;
}

.side-bar-about {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 65%;
  padding-left: 5%;
  padding-right: 5%;
}

.category-header {
  margin-top: 7%;
  font-weight: bold;
  font-size: 200%;
}

.section-header {
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 150%;
}

.subsection-header {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 110%;
}

.needed-section {
  color: grey;
}

/* .table-of-contents {
  font-size: 17px;
  margin-bottom: 3%;
  padding-left: 1%;
  white-space: pre;
} */

.code {
  white-space: pre;
  word-wrap: break-word;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e3e0da;
  border-radius: 25px;
  margin: 5%;
}

.math-notation {
  margin: 5%;
}

.footer-placeholder {
  background-color: #2b2c36;
  bottom: 0%;
}

.footer-about-me {
  color: white;
}

.social-media {
  font-size: 15px;
}