body {
/*   background: #d1cdcd; */
	background: white;
}

button {
	cursor: pointer;
}

.nav-bar {
/*   background-color: #2b2c36; */
	background: rgb(2,0,36);
`	background: linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(18,22,97,1) 35%, rgba(13,14,14,1) 100%);
}

.navbar-custom {
	background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	color: white;
}

.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
	color: white;
}

/* .dropdown-item a {
	word-wrap: break-word;
} */

.nav-bar-brand {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 4px;
	margin-right: 1em;
	font-size: 1.3em;
}

/* #nav-bar-cursor {
	padding: 0% 5% 0% 0%;
}
*/

.nav-bar-brand:hover {
	color: lightgray;
	text-decoration: none;
}

.nav-bar-text {
  color: white;
}

.todo {
  pointer-events: none;
  color: lightgray;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(52,58,64);
	/* background-color: grey; */
	border-block-end-color: white;
	/* border-block-start-color: white; */
}

/* .custom-toggler.navbar-toggler:target {
	0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(359deg);
	  }
} */

.custom-toggler.navbar-toggler{
  border-color: white;
	background-color: white;
/* 	border-block-end-color: white;
	border-block-start-color: white; */
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay-search-box {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.overlay-search-button {
  float: left;
  width: 20%;
  padding: 15px;
  background: black;
	color: white;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
  font-size: 17px;
  border: none;
}

.overlay-search-button:hover {
	background: white;
	color: black
}

#nav-search-bar {
  width: 290px;
  border-radius: 20px;
}

.website-title {
	font: 3em "Lato", sans-serif;
  color: #111;
	letter-spacing: .5em;
	text-align: center;
  text-transform: uppercase;
	/* margin-top: 3.4em; */
	margin-bottom: .9em;
}

.website-creator {
	font-size: 1.3em;
	color: gray;
	letter-spacing: .4em;
	text-align: center;
	/* margin-bottom: 14em; */
}

.website-github-link {
	font-size: .5em;
	color: gray;
	letter-spacing: .4em;
	text-align: center;
}

.home-bg, .home {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/context-switching.png");
  min-height: 75%;
}

.bgimg-2 {
  background-image: url("images/coding.jpg");
  min-height: 75%;
}

.bgimg-3 {
  background-image: url("images/roku-remote.jpg");
  min-height: 75%;
}

/* Find more efficent way of stylizing the text boxes 
on index page*/
/* Probably uses class text box and id for the
individual ones */

.text-box-website::-webkit-scrollbar {
  display: none;
}

.text-box-professional::-webkit-scrollbar {
  display: none;
}

.text-box-fun::-webkit-scrollbar {
  display: none;
}

.text-box-contact::-webkit-scrollbar {
  display: none;
}

.text-box-website {
  /* background-color: transparent; */
  /* padding: 18px; */
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  /* padding: 18px; */
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
  /* color: #000; */
}

.text-box-professional {
  /* background-color: transparent; */
  /* padding: 18px; */
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  /* padding: 18px; */
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
  /* color: #000; */
}

.text-box-fun {
  /* background-color: transparent; */
  /* padding: 18px; */
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  /* padding: 18px; */
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
  /* color: #000; */
}

.text-box-contact {
  /* background-color: transparent; */
  /* padding: 18px; */
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  /* padding: 18px; */
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
  /* color: #000; */
}

/* .text-box-content {
  max-height: 25em;
} */

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
} */

.dot {
  height: 25px;
  width: 25px;
  background-color: #fd1d1d;
  border-radius: 50%;
  display: inline-block;
}

.collapsible-contents-button {
  /* font-size: 1.3em; */
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.contents-button {
	background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
  border-radius: 20%;
	font-size: 2em;
}

.contents-button:hover {
  background-color: rgb(50, 201, 247);
  border-color: rgb(50, 201, 247);
  color: white;
}

#collapse {
  background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,0.9) 0%, rgba(253,29,29,0.9) 50%, rgba(252,176,69,0.9) 100%);
	color: white;
  margin-bottom: 1em;
	padding: 5% 5% 5% 5%;
  max-height: 25em;
	/* min-height: 25em; */
	min-width: 23em;
	max-width: 23em;
	overflow-wrap: break-word;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 2px 2px 3px;
  word-wrap: break-word;
}

#collapse a:link,
#collapse a:visited,
#collapse a:hover {
   color: white;
}

.information {
  background-color: white;
  padding: 5% 8% 5% 8%;
	/* margin-top: 5%; */
  margin-left: 10%; 
  margin-right: 10%;
  margin-bottom: 5%; 
}

/* #find-button {
  border-radius: 30px;
} */

h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

h4 {
  color: grey;
  margin-bottom: 10%;
  text-align: center;
}

.about-hr {
  background-color: white;
}

.how-to-read {
   white-space: pre-wrap;
}

.side-bar-about {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 65%;
  padding-left: 5%;
  padding-right: 5%;
}

.category-header {
  margin-top: 7%;
  font-weight: bold;
  font-size: 200%;
}

.section-header {
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 150%;
/* 	background: -webkit-linear-gradient(#fcb045,#fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.subsection-header {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 110%;
}

.subsubsection-header {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 100%;
}

.needed-section {
  color: grey;
}

/* .table-of-contents {
  font-size: 17px;
  margin-bottom: 3%;
  padding-left: 1%;
  white-space: pre;
} */

.categories {
  margin-bottom: 3.5%;
}

.categories p {
  /* margin-right:  */
  display: inline;
/*   border: 2px solid #343b36; */
  background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
	color: white;
  border-radius: 20%;
  padding: 10px 5px 10px 5px;
  margin-right: 5px;
}

.code {
  white-space: pre;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e3e0da;
  border-radius: 25px;
  margin: 5% 3% 5% 3%;
	padding: 1% 0% 1% 5%;
}

.figure {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.math-notation {
  text-align: center;
	margin: 5% 0 5% 0;
	word-wrap:break-word;
}

.footer-placeholder {
  background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  bottom: 0%;
}

.footer-about-me {
  color: white;
}

.social-media {
  font-size: 15px;
}