.website-intro {
	background: white;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

.featured-section {
	text-align: center;
	margin: 6em 0em 1em 0em;
}

.mini-banner {
	color: #777;
	background-color:white;
	padding: 3em 0em 1em 0em;
}

.mini-banner-label {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
}

.subtopic-mini-banner-label {
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 0em;
	padding-bottom: 1em;
	text-align: center;\
}

.reveal-website-opener {
	opacity: 0;
	margin-bottom: 20%;
}

.reveal-website-opener.active {
	opacity: 1;
}

.reveal-website-opener.active.fade-in {
	animation: fade-bottom 0.75s ease-in;
}

.reveal-featured-article {
	opacity: 0;
}

.reveal-featured-article.active {
	opacity: 1;
}

.reveal-featured-article.active.fade-in {
	animation: fade-left 0.75s ease-in;
}

.reveal-featured-subtopics {
	opacity: 0;
}

.reveal-featured-subtopics.active {
	opacity: 1;
}

.reveal-featured-subtopics.active.fade-in {
	animation: fade-right 0.75s ease-in;
}

.reveal-library-article {
	opacity: 0;
}

.reveal-library-article.active {
	opacity: 1;
}

.reveal-library-article.active.fade-in {
	animation: fade-bottom 1.1s ease-in;
}

.reveal {
	position: relative;
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.reveal.active.fade-bottom {
	animation: fade-bottom 0.75s ease-in;
}

.reveal.active.fade-left {
	animation: fade-left 0.75s ease-in;
}

.reveal.active.fade-right {
	animation: fade-right 0.75s ease-in;
}

@keyframes fade-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}