.website-title {
	font-size: 2em;
	color: #111;
	letter-spacing: .5em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.topic-title {
  padding: 0% 10% 5% 10%;
  font-size: 2em;
  color: #111;
  /* letter-spacing: .5em; */
  text-align: center;
  /* text-transform: uppercase; */
  margin-bottom: 1em;
}

.website-creator-by {
	font-size: 1.5em;
	color: black;
	letter-spacing: .3em;
	text-align: center;
}

.website-creator {
	font-size: 1.8em;
	color: gray;
	letter-spacing: .4em;
	text-align: center;

	background: -webkit-linear-gradient(320deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 10%, rgba(252,176,69,1) 75%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.website-intro {
	background: white;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

.home-text-box {
  font-size: 20px;
  color: black;
  background-color: transparent;
  padding: 2% 10% 3% 10%;
}

.featured-section {
	text-align: center;
	margin: 6em 0em 2em 0em;
  padding: 0% 10% 0% 10%;
}

#last-homepage-section {
  margin-bottom: 10em;
}

.mini-banner {
	color: #777;
	background-color: transparent;
	padding: 2em 0em 2em 0em;
}

.mini-banner-label {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
}

.subtopic-mini-banner-label {
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 0em;
	padding-bottom: 0em;
	text-align: center;\
}

.reveal-website-opener {
	opacity: 0;
	margin-bottom: 20%;
}

.reveal-website-opener.active {
	opacity: 1;
}

.reveal-website-opener.active.fade-in {
	animation: fade-bottom 0.75s ease-in;
}

.reveal-featured-article {
	opacity: 0;
}

.reveal-featured-article.active {
	opacity: 1;
}

.reveal-featured-article.active.fade-in {
	animation: fade-left 0.75s ease-in;
}

.reveal-featured-subtopics {
	opacity: 0;
}

.reveal-featured-subtopics.active {
	opacity: 1;
}

.reveal-featured-subtopics.active.fade-in {
	animation: fade-right 0.75s ease-in;
}

.reveal-library-article {
	opacity: 0;
}

.reveal-library-article.active {
	opacity: 1;
}

.reveal-library-article.active.fade-in {
	animation: fade-left 0.75s ease-in;
}

.reveal-featured-article.inactive {
	opacity: 1;
}

.reveal-featured-article.inactive.fade-out-bottom {
	animation: fade-out-bottom 0.75s ease-in;
}

.reveal-featured-subtopics.inactive {
	opacity: 1;
}

.reveal-featured-subtopics.inactive.fade-out-bottom {
	animation: fade-out-bottom 0.75s ease-in;
}

.reveal-library-article.inactive {
	opacity: 1;
}

.reveal-library-article.inactive.fade-out-bottom {
	animation: fade-out-bottom 0.75s ease-in;
}

.reveal {
	/* position: relative; */
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.reveal.active.fade-bottom {
	animation: fade-bottom 0.75s ease-in;
}

.reveal.active.fade-left {
	animation: fade-left 0.75s ease-in;
}

.reveal.active.fade-right {
	animation: fade-right 0.75s ease-in;
}

.reveal.inactive {
	opacity: 0;
}

.reveal.inactive.fade-out-bottom {
	animation: fade-out-bottom 0.75s ease-in;
}

@keyframes fade-bottom {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-out-bottom {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(100px);
		opacity: 0;
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#collapse a:link,
#collapse a:visited,
#collapse a:hover {
	 color: white;
}