body {
	background: white;
	-webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
/* 	scroll-behavior: smooth; */
}

button {
	cursor: pointer;
}

.nav-bar {
	background: rgb(2,0,36);
`	background: linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(18,22,97,1) 35%, rgba(13,14,14,1) 100%);
}

.navbar-custom {
	background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	color: white;
}

.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
	color: white;
}

.nav-bar-brand {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 4px;
	margin-right: 1em;
	font-size: 1.3em;
}

.nav-bar-brand:hover {
	color: lightgray;
	text-decoration: none;
}

.nav-bar-text {
  color: white;
}

.nav-search-div {
	display: flex;
	min-width: 180px;
}

.nav-search-glyph {
	margin-right: 5px;
}

#nav-search-box {
	background: transparent;
	border: none;
}

#nav-search-box::placeholder {
	color: white;
}

#nav-search-box:focus {
	background: transparent;
	border: none;
	outline: none;
}

.coming-soon-text {
  color: #fe6a32;
  margin: 0px 0px 0px 22px;
  padding: 0px; 
}

.coming-soon-text:hover {
	color: #fe6a32;
  margin: 0px 0px 0px 22px;
  padding: 0px; 
	background: none;
}

.todo {
  pointer-events: none;
  color: lightgray;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(52,58,64);
}

.custom-toggler.navbar-toggler{
  border-color: white;
	background-color: white;
}

.page-properties {
	white-space: nowrap;
	margin: 10% 18% 7% 18%;
}

.dot-div {
	padding-left: 0.7%;
	margin-bottom: 1%;
}

.dot {
	display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #fd1d1d;
  border-radius: 50%;
	margin-left: 2px;
}

.dot-txt {
	display: inline-block;
	margin-left: 10px;
}

.page-developer {
/* 	scroll-behavior: smooth; */
	margin-top: 1%;
	font-size: 1.35em;
}

.dark-mode-toggle-div {
	white-space: nowrap;
	-webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.fa-moon,
.fa-sun {
	margin-left: 3px;
}

#dark-mode-toggle-btn {
	color: black;
	background: transparent;
	border: none;
	-webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

#dark-mode-toggle-btn i {
	font-size: 2em;
}

#dark-mode-toggle-btn p {
	font-size: 1em;
}

.dark-mode-toggle-txt {
	display: inline-block;
	font-style: italic;
	margin-left: 2px;
	-webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.collapsible-contents-top #top-of-page-li {
	display: inline-block;
}

.collapsible-contents-top #dark-mode-toggle-btn {
	display: inline-block;
	position: absolute;
	right: 12%;
	top: 4%;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay-search-box {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.overlay-search-button {
  float: left;
  width: 20%;
  padding: 15px;
  background: black;
	color: white;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
  font-size: 17px;
  border: none;
}

.overlay-search-button:hover {
	background: white;
	color: black
}

#nav-search-bar {
  width: 290px;
  border-radius: 20px;
}

.website-title {
	font: 3em "Lato", sans-serif;
  color: #111;
	letter-spacing: .5em;
	text-align: center;
  text-transform: uppercase;
	margin-bottom: .9em;
}

.website-creator {
	font-size: 1.3em;
	color: gray;
	letter-spacing: .4em;
	text-align: center;
}

.website-github-link {
	font-size: .5em;
	color: gray;
	letter-spacing: .4em;
	text-align: center;
}

.home-bg, .home {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/assets/images/context-switching.png");
  min-height: 75%;
}

.bgimg-2 {
  background-image: url("/assets/images/coding.jpg");
  min-height: 75%;
}

.bgimg-3 {
  background-image: url("/assets/images/roku-remote.jpg");
  min-height: 75%;
}

.text-box-website::-webkit-scrollbar {
  display: none;
}

.text-box-professional::-webkit-scrollbar {
  display: none;
}

.text-box-fun::-webkit-scrollbar {
  display: none;
}

.text-box-contact::-webkit-scrollbar {
  display: none;
}

.text-box-website {
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
}

.text-box-professional {
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
}

.text-box-fun {
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
}

.text-box-contact {
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0, 0.9);
	border-radius: .3em;
  letter-spacing: 5px;
  margin: auto;
  max-height: 15em;
  overflow: auto;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  text-align: center;
  padding: 1%;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* hr { 
	background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	height: 1px; 
	border: 0;
	margin: 6% 0% 6% 0%;
} */

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
} */

.collapsible-contents-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
	z-index: 100;
	/* display: none;
	visibility: none; */
	-webkit-transition: visibility 1s ease-out;
  -moz-transition: visibility 1s ease-out;
  -o-transition: visibility 1s ease-out;
  transition: visibility 1s ease-out;
}

.contents-button {
	background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
  border-radius: 20%;
	font-size: 2em;
	z-index: 100;
}

.contents-button:hover {
  background-color: rgb(50, 201, 247);
  border-color: rgb(50, 201, 247);
  color: white;
	z-index: 100;
}

#collapse {
  background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,0.9) 0%, rgba(253,29,29,0.9) 50%, rgba(252,176,69,0.9) 100%);
	color: white;
  margin-bottom: 1em;
	padding: 5% 5% 5% 5%;
  max-height: 25em;
	min-width: 23em;
	max-width: 23em;
	overflow-wrap: break-word;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 2px 2px 3px;
  word-wrap: break-word;
}

#collapse a:link,
#collapse a:visited,
#collapse a:hover {
   color: white;
}

#simple-nav-table {
	margin-right: 1px;
}

.information {
  background-color: white;
	margin: 5% 18% 10% 18%;
	-webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.title-section {
	text-align: center;
}

.title-and-developer {
	margin-top: 10%;
	margin-bottom: 10%;
}

h1 {
  margin-bottom: 5%;
}

h4 {
  color: grey;
}

.about-hr {
  background-color: white;
}

.how-to-read {
   white-space: pre-wrap;
}

.side-bar-about {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 65%;
  padding-left: 5%;
  padding-right: 5%;
}

.category-header {
  margin-top: 7%;
  font-weight: bold;
  font-size: 200%;
}

.section-header {
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 150%;
}

.subsection-header {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 110%;
}

.subsubsection-header {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 100%;
}

.needed-section {
  color: grey;
}

.categories {
  margin-bottom: 3.5%;
}

.categories p {
  display: inline;
  background: rgb(131,58,180);
	background: linear-gradient(320deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
	color: white;
  border-radius: 20%;
  padding: 10px 5px 10px 5px;
  margin-right: 5px;
}

.code {
  white-space: pre;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e3e0da;
  border-radius: 25px;
  margin: 5% 3% 5% 3%;
	padding: 1% 0% 1% 5%;
}

.figure {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.math-notation {
	margin: 5% 0 5% 0;
	width: 95%;
	overflow: auto;
}

.footer-placeholder {
  background: rgb(131,58,180);
  background: linear-gradient(320deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  bottom: 0%; 
}

.footer-links a {
	color: white;
	font-size: 1.5em;
}

.footer-about-me {
  color: white;
  padding-bottom: 10%;
}

#footer-about-me-title {
	color: white;
}